@import 'variables.css';
@import 'common.css';
@import 'queries.css';

/************* HEADER ************/

header  {
    background-color: var(--header-color);
    color: #fff;
}

.hidden,
.hidden-list {
    display: none;
}

header h1 {
    margin: 0;
}

.ms-burger-ctn {
    border: 1px solid lightslategray;
    padding: 6px 12px;
    border-radius: 10px;
}

.ms-burger-ctn i {
    color: lightslategray;
}



/********* MAIN ***********/



/****** FOOTER ***********/



@media screen and (min-width: 992px) {

    .hidden {
        display: block;
    }

    .hidden-list {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .hidden li {
        padding:  0 10px;
    }

    .hidden-desktop {
        display: none;
    }
    
}