@import 'variables.css';
@import 'common.css';
@import 'queries.css';

/************* HEADER ************/

header  {
    background-color: var(--header-color);
    color: #fff;
}

header h1 {
    margin: 0;
}

.ms-burger-ctn {
    border: 1px solid lightslategray;
    padding: 6px 12px;
    border-radius: 10px;
}

.ms-burger-ctn i {
    color: lightslategray;
}

/********* MAIN ***********/

#jumbotron,
#about {
    background-color: var(--odd-section-bg-color);
}

#jumbotron img {
    width: 50%;
}

#about .download {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 6px 12px;
}

#contact-me form > div:not(.form-send) {
    border-bottom: 1px solid #000;
}

input[type="text"],
input[type="email"],
form textarea {
    border: none;
    padding: 10px 0;
    width: 300px;
}

input[type="submit"] {
    background-color: var(--odd-section-bg-color);
    color: var(--text-color);
    padding: 6px 12px;
    border: 0;
    border-radius: 5px;
}

/****** FOOTER ***********/

.ms-footer-top {
    background-color: var(--footer-top-bg-color);
}

.ms-footer-top ul li {
    margin: 0 8px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}

.ms-footer-top ul li a i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.ms-footer-top a {
    color: var(--odd-section-bg-color);
}

.ms-footer-bottom {
    background-color: var(--footer-bot-bg-color);
}

.ms-w-32 {
    width: 100%;
}

/*************** MS MEDIA QUERIES ************/


@media screen and (min-width: 768px) {

    .ms-w-32 {
        width: 32%;
    }
    
}

@media screen and (min-width: 992px) {

    .hidden {
        display: block;
    }

    .hidden-list {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .hidden li {
        padding:  0 10px;
    }

    .hidden-desktop {
        display: none;
    }

    #jumbotron img {
        width: 30%;
    }

    input[type="text"],
    input[type="email"],
    form textarea {
        width: 600px;
    }
    
}